# everything's bad
/*
# especially
.DS_Store

# but some things aren't bad
!.gitignore
!ansible.cfg
!gonramp_inventory
!gonramp.yml
!gonramp_vars
!kickstart.sh
!LICENSE
!/roles/
!modified_roles

# but some subdirectories are not!
roles/gonramp/workflows/*
