# everything's bad
*
roles/*

# but some things aren't bad
!.gitignore
!ansible.cfg
!gonramp_inventory
!gonramp.yml
!gonramp_vars
!kickstart.sh
!LICENSE

# and some directories are good
!modified_roles/*
!roles/gonramp
!roles/gonramp/files
!roles/gonramp/files/*
!roles/apollo
!roles/openjdk

# but some subdirectories are not!
roles/gonramp/workflows/*
