<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Homepage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="style/base.css" type="text/css" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="image/fav/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="image/fav/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="image/fav/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="image/fav/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="image/fav/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="image/fav/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="image/fav/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="image/fav/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="image/fav/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="image/fav/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="image/fav/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="image/fav/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="image/fav/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

</head>
<body>
    <div class="document">
        <p align="center">
            <img src="images/logo.png" width="500" />
        </p>
    </div>
    <div class="jumbotron">
        <div class="container">
            <center>
            <h4>
                <a href="https://github.com/goeckslab/gonrampkickstart" target="_blank">G-OnRampKickStart</a> launched Galaxy
                <code>
                    <a href="https://github.com/galaxyproject/galaxy/tree/{{ galaxy_changeset_id }}" target="_blank">
                        {{ galaxy_changeset_id }}
                    </a>
                </code>
            </h4>
            <!--/h4-->
            <a target="_blank" href="http://g-onramp.org/" class="btn btn-primary btn-lg">G-OnRamp Home »</a>
            <a target="_blank" href="http://g-onramp.org/?page_id=32" class="btn btn-primary btn-lg">Learn G-OnRamp »</a>
            <a target="_blank" href="https://de.cyverse.org/anon-files/iplant/home/shared/G-OnRamp_hubs/index.html" class="btn btn-primary btn-lg">View G-OnRamp Workshop Assembly Hubs »</a>
            <br>
            <a target="_blank" href="https://wiki.galaxyproject.org/Admin/Config" class="btn btn-primary btn-lg">Configuring Galaxy »</a>
            <a target="_blank" href="https://wiki.galaxyproject.org/Admin/Tools/AddToolFromToolShedTutorial" class="btn btn-primary btn-lg">Installing Tools »</a>
            </center>
        </div>
    </div>
    <div class="container">
        <p class="lead">
            <a target="_blank" class="reference" href="http://galaxyproject.org/">
            Galaxy</a> is an open platform for supporting data intensive
            research. Galaxy is developed by <a target="_blank" class="reference" href="http://wiki.galaxyproject.org/GalaxyTeam">The Galaxy Team</a>
            with the support of  <a target="_blank" class="reference" href="https://github.com/galaxyproject/galaxy/blob/dev/CONTRIBUTORS.md">many contributors</a>.
        </p>
        <footer>
            The <a target="_blank" class="reference" href="http://galaxyproject.org/">Galaxy Project</a>
            is supported in part by <a target="_blank" class="reference" href="http://www.genome.gov">NHGRI</a>,
            <a target="_blank" class="reference" href="http://www.nsf.gov">NSF</a>,
            <a target="_blank" class="reference" href="http://www.huck.psu.edu">The Huck Institutes of the Life Sciences</a>,
            <a target="_blank" class="reference" href="http://www.ics.psu.edu">The Institute for CyberScience at Penn State</a>,
            and <a target="_blank" class="reference" href="http://www.jhu.edu/">Johns Hopkins University</a>.
        </footer>

    </div>


</body>
</html>
