	Welcome to....

   /$$$$$$         /$$$$$$            /$$$$$$$
  /$$__  $$       /$$__  $$          | $$__  $$
 | $$  \\__/      | $$  \\ $$ /$$$$$$$ | $$  \\ $$  /$$$$$$  /$$$$$$/$$$$   /$$$$$$
 | $$ /$$$$ /$$$$| $$  | $$| $$__  $$| $$$$$$$/ |____  $$| $$_  $$_  $$ /$$__  $$
 | $$|_  $$|____/| $$  | $$| $$  \\ $$| $$__  $$  /$$$$$$$| $$ \\ $$ \\ $$| $$  \\ $$
 | $$  \\ $$      | $$  | $$| $$  | $$| $$  \\ $$ /$$__  $$| $$ | $$ | $$| $$  | $$
 |  $$$$$$/      |  $$$$$$/| $$  | $$| $$  | $$|  $$$$$$$| $$ | $$ | $$| $$$$$$$/
  \\______/        \\______/ |__/  |__/|__/  |__/ \\_______/|__/ |__/ |__/| $$____/
								       | $$
							       	       | $$
								       |__/
Hostname: \n
 \d	\t
 \s \n \r \v

Operating System Info:
    username: gonramp
	  password: rampong
G-OnRamp Admin Info:
    username: {{ galaxy_admin }}
    password: {{ galaxy_admin_pw }}
Apollo Admin Info:
    username: {{ apollo_admin_user }}
		password: {{ apollo_admin_pass }}
